
body{
    background: rgb(205, 161, 241);color: yellow; 
    margin-left: 200px;
    margin-right: 200px;

}
header{
    margin-top: 70px;
}

h1{
    color: red;
    font-family: fantasy
}
h2 {

    font-family: fantasy;
}
p {
    font-size: 18px;
}

footer{
    margin-bottom: 30px;
}
.img_padrao{
margin-bottom:20px ;
width: 300px;
}


ul{
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row;
}
.logo{
    width: 30px;
}